@inherits LayoutComponentBase
<FluentLayout>
    <FluentStack Orientation="Orientation.Horizontal" Width="100%">
        <FluentBodyContent>
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

<FluentDialogProvider />
